<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="agbot_arm">

  <xacro:property name="PI" value="3.141592653589793238464" />

  <!-- Gazebo ros2_control plugin -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find agbot_arm_controller)/config/agbot_arm_controllers.yaml</parameters>
      <controller_manager_prefix_node_name>controller_manager</controller_manager_prefix_node_name>
    </plugin>
  </gazebo>

  <gazebo reference="arm_rgb_camera">
    <sensor name="camera_sensor" type="camera">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
        <update_rate>60.0</update_rate>
        <camera>
          <horizontal_fov>1.089</horizontal_fov>
          <image>
              <format>R8G8B8</format>
              <width>1024</width>
              <height>768</height>
          </image>
          <clip>
              <near>0.05</near>
              <far>10.0</far>
          </clip>
      </camera>
      <plugin filename="libgazebo_ros_camera.so" name="camera_controller">
        <frame_name>rgb_camera_optical</frame_name>
      </plugin>
    </sensor>
  </gazebo>  

  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo>
    
  <gazebo reference="base_plate">
    <material>Gazebo/Red</material>
  </gazebo>
    
  <gazebo reference="forward_drive_arm">
    <material>Gazebo/Yellow</material>
  </gazebo> 

  <gazebo reference="elbow">
    <material>Gazebo/White</material>
  </gazebo>   
    
  <gazebo reference="horizontal_arm">
    <material>Gazebo/Green</material>
  </gazebo> 
    
  <gazebo reference="claw_support">
    <material>Gazebo/Yellow</material>
  </gazebo> 

  <gazebo reference="gripper_right">
    <material>Gazebo/Purple</material>
  </gazebo> 

  <gazebo reference="gripper_left">
    <material>Gazebo/Purple</material>
  </gazebo> 
  
  <gazebo reference="arm_rgb_camera">
    <material>Gazebo/Blue</material>
  </gazebo>





</robot>