<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="agbot">
   
    <!-- Gazebo ros2_control plugin -->   
    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find agbot_controller)/config/agbot_controllers.yaml</parameters>

            <update_rate>50</update_rate>

            <left_joint>base_left_wheel_joint</left_joint>
            <right_joint>base_right_wheel_joint</right_joint>

            <wheel_separation>0.179</wheel_separation>
            <wheel_diameter>0.066</wheel_diameter>

            <max_wheel_torque>200.0</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>           

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

            <odometry_topic>odom</odometry_topic>
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_footprint</robot_base_frame>            
        </plugin>          
    </gazebo>

    <gazebo reference="rgb_camera">
        <sensor name="camera_sensor" type="camera">
          <pose>0 0 0 0 0 0</pose>
          <visualize>true</visualize>
            <update_rate>60.0</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>            
          <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <frame_name>rgb_camera_optical</frame_name>
          </plugin>
        </sensor>
      </gazebo>     

      <gazebo reference="laser_frame">
        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>           

</robot>
